*, *::after, *::before {
    box-sizing: border-box;
  }

body {
    font-family: 'Arial', "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: rgb(237, 246, 253);
    width: 100%;
   }

footer {
    width: 100%;
    height: 80px;
    background-color: rgb(148, 195, 236);
    color: white;
    border-top: solid 1px white;
    text-align: center;
    margin-bottom: -20px;
    margin-left: -5px;
    margin-top: 25px;
    padding-top: 30px;
}

.container {
    width: 100%;
    height: auto;
    font-family: 'Arial', "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 1px;
    clear: both;
    }

    
nav {
    height: 70px;
}

.navbar-brand {
font-size: 25px;
}

/* About page starts here */

.card {
    margin-top: -15px;
}

h1 {
    color: rgb(57, 60, 245);
    margin-top: 15px; 
    }

/* About starts here */
img {
    margin-top: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #414040;
    font-size: 16.5px; 
}

#p1 {
    margin-left: 378px;
    margin-top: -380px;
}

#p2 {
    margin-left: 378px;
    margin-top: -245px;
}

#p3 {
    margin-left: 45px;
    margin-top: -20px;
    margin-bottom: 40px;
}

/* Contact page starts here */
.row {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 16.5px;    
}

.col-75 {
    margin-top: 6px;
    margin-left: 25px;
}

input[type=text], select, textarea {
    width: 900px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .col-message {
    margin-top: 6px;
    margin-left: 0px;
  }

  input[type=submit] {
    background-color: rgb(57, 60, 245);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-left: 25px;
    margin-bottom: 15px;
  }
  
  input[type=submit]:hover {
    background-color: aliceblue;
  }

@media screen and (max-width: 980px) {
    body {
      background-color: rgb(240, 193, 193);
    }

    nav {
        width: 100%;
        padding: 10px;
    }
    
    .container {
       width: 100%;
       padding: 10px;
    }
     
    .row {
       width: 100%;
    }  

    #p2 {
        margin-top: 10px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    body {
      background-color: rgb(240, 193, 193);
    }

    nav {
        width: 100%;
        padding: 10px;
    }
    
    .container {
       width: 100%;
       padding: 10px;
    }
     
    .row {
       width: 100%;
    }  

    #p2 {
        margin-top: 10px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 640px) {
    body {
      background-color: rgb(240, 193, 193);
    }

    nav {
        width: 100%;
        padding: 10px;
    }
    
    .container {
       width: 100%;
       padding: 10px;
    }
     
    header {
        position: static;
    }

    .row {
       width: 100%;
    }  

    #p2 {
        margin-top: 10px;
        margin-left: 25px;
    }
}
  
  /* Additional Screen Sizes */
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
    body {
        background-color: rgb(206, 180, 180);
      }
  
      nav {
          width: 100%;
          padding: 10px;
      }
      
      .container {
         width: 100%;
         padding: 10px;
      }
       
      .row {
         width: 50%;
      }  
      
        #p2 {
        margin-top: 10px;
        margin-left: 25px;
        }
  }

    /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
        background-color: rgb(240, 193, 193);
      }
  
      nav {
          width: 100%;
          padding: 10px;
      }
      
      .container {
         width: 100%;
         padding: 10px;
      }
       
      .row {
         width: 50%;
      }  
  }